.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 100%;
  z-index: 999;
  pointer-events: none;
  }

.dot {
  background-color: #006EFF;
  position: fixed;
  width: 500px;
  height: 500px;
  transform: scale(0.7) perspective(1000px);
  animation: blobAnim 10s linear infinite;
  z-index: 999;
  pointer-events: none; 
}

@keyframes blobAnim {
  0% { clip-path: path("M411,282.5Q357,325,310,318Q263,311,236.5,321Q210,331,146.5,342.5Q83,354,68.5,297Q54,240,67,182Q80,124,143,129Q206,134,253,95Q300,56,361,82Q422,108,443.5,174Q465,240,411,282.5Z"); }
  20% { clip-path: path("M392,271.5Q327,303,296,309.5Q265,316,236.5,327.5Q208,339,190,314Q172,289,94,264.5Q16,240,85.5,209Q155,178,182.5,163Q210,148,239.5,149Q269,150,315,151Q361,152,409,196Q457,240,392,271.5Z"); }
  40% { clip-path: path("M435,296.5Q395,353,344.5,380Q294,407,239.5,408Q185,409,164,360Q143,311,84,275.5Q25,240,82,203Q139,166,170.5,145Q202,124,237.5,130.5Q273,137,340,128Q407,119,441,179.5Q475,240,435,296.5Z"); }
  60% { clip-path: path("M334.5,272.5Q329,305,301,322.5Q273,340,247,319.5Q221,299,186,301.5Q151,304,79.5,272Q8,240,90.5,215.5Q173,191,198.5,190.5Q224,190,241.5,185Q259,180,325.5,155Q392,130,366,185Q340,240,334.5,272.5Z"); }
  80% { clip-path: path("M320,279.5Q348,319,302,304.5Q256,290,228.5,325Q201,360,171,336Q141,312,101,276Q61,240,59.5,174Q58,108,137,137Q216,166,245.5,149.5Q275,133,335,130.5Q395,128,343.5,184Q292,240,320,279.5Z"); }
  90% { clip-path: path("M435,296.5Q395,353,344.5,380Q294,407,239.5,408Q185,409,164,360Q143,311,84,275.5Q25,240,82,203Q139,166,170.5,145Q202,124,237.5,130.5Q273,137,340,128Q407,119,441,179.5Q475,240,435,296.5Z"); } 
  100% { clip-path: path("M411,282.5Q357,325,310,318Q263,311,236.5,321Q210,331,146.5,342.5Q83,354,68.5,297Q54,240,67,182Q80,124,143,129Q206,134,253,95Q300,56,361,82Q422,108,443.5,174Q465,240,411,282.5Z"); }
}